$fontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontSizeRegular: 1em;
$fontSizeMobile: 0.8em;

$linkColor: #1565C0;
$linkBorderColor: #82B1FF;
$linkHoverColor: #2962FF;

$linkTransitionTime: 0.3s;
$stripesSize: 6em;