$tubeSize: 2.5em;
$tubeLenght: 1;

$logoColor: #2962FF;
$cutColor: #214ECC;
$endColor: #fff;

$tubeEndWidth: $tubeSize / 2;

.tube-logo > div {
	position: relative;
	display: inline-block;
	
	width: ($tubeSize - $tubeEndWidth) * $tubeLenght;
	height: $tubeSize;
	margin: 0 $tubeEndWidth/2;
}
	
.tube-logo {
	@include transform(skewX(-7deg)); 
	display: inline-block;
	vertical-align: middle;

	.m {
		width: 100%;
		height: 100%;
		background-color: $logoColor;
	}

	.l, .r, .r2 {
		position: absolute;
		top: 0;
		width: $tubeEndWidth;
		height: 100%;
		background-color: $logoColor;
		border-radius: 100%;
	}

	.l {
		left: -$tubeEndWidth/2;
	}

	.r {
		right: -$tubeEndWidth/2;
		background-color: $cutColor;
	}
	
	.r2 {
		position: absolute;
		right: -$tubeEndWidth/2;
		@include transform(scale(0.7));
		background-color: $endColor;
	}
}
